/*head*/

html {
  scroll-behavior: smooth;
}

#head {
  height: 750px;
  background-size: fit !important;
  max-width: 1535px;
  margin-right: -20px;
}

/*NavBar*/
#nav {
  padding-top: 10px;
}
.bg-light {
  background-color: white !important;
}

#fonta {
  font-family: "Saira Semi Condensed", sans-serif !important;
}

#fontb {
  font-family: "Saira Semi Condensed", sans-serif !important;
}

#fontc {
  font-family: "Saira Semi Condensed", sans-serif !important;
}

#b1 {
  font-family: "Saira Semi Condensed", sans-serif !important;
  margin-left: 10px;
}

#navbutton {
  background-color: #8d51ff;
}

#navbutton:hover {
  background-color: #5a2483;
}

/*TagLine*/

.tagline {
  margin-top: 140px;
  padding-left: 70px;
}

#top {
  font-family: "Encode Sans", sans-serif;
  font-weight: 300 !important;
  font-size: 60px;
  max-width: 430px;
}

.change {
  font-family: "Encode Sans", sans-serif;
  font-weight: 300 !important;
  font-size: 50px;
  max-width: 430px;
  margin-left: 99px;
}

.typed-cursor {
  font-size: 50px;
}

#buttonhead {
  margin-top: 10px;
  margin-left: 155px;
  background-color: #8d51ff;
  width: 140px;
  height: 50px;
}

#buttonhead:hover {
  background-color: #5a2483;
}

/*Services*/

#servicehead {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

#servicecontent {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*CARD*/

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");
.cardbody {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  max-height: 300px;
  max-width: 400px;
  box-shadow: 3px 3px 10px 3px #a9a9a9;
}

#left1 {
  padding-left: 150px;
}

#left2 {
  padding-left: 150px;
}

#left3 {
  padding-left: 150px;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .face.face1 {
  top: 0;
  left: 0;
  transition-property: left, z-index, transform;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  z-index: 2;
  transform: translate(-10px, -10px);
}
.card:hover .face.face1 {
  transition-property: transform, z-index, left;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  transform: translate(170px, -10px);
  z-index: 1;
  left: -160px;
}

.card .face.face2 {
  background: white;
  top: 0;
  left: 0;
  transition-property: left, z-index, transform;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  z-index: 1;
}
.card:hover .face.face2 {
  transition-property: transform, z-index, left;
  transition-delay: 0s, 0.5s, 0.5s;
  transition-duration: 0.5s, 0s, 0.5s;
  transform: translateX(-160px);
  z-index: 2;
  left: 160px;
}
.card .face.face1 img {
  max-width: 100%;
}
.card .face.face2 .content {
  padding: 20px;
  box-sizing: border-box;
}
.card .face.face2 .content h2 {
  margin: 0;
  padding: 0;
  color: black;
}
.card .face.face2 .content p {
  margin: 10px 0 0;
  padding: 0;
  color: black;
}

/*TESTIMONIAL*/

#testimonial {
  margin-top: 60px;
  margin-bottom: 50px;
}

.testimonialhead {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.testimonialcontent {
  color: #585858;
  margin-top: 20px;
}

.testimonialname {
  margin-top: 20px;
  font-weight: 400;
}

.post {
  color: #fd6a02;
}

.tpic {
  height: 340px;
  max-width: 300px;
  max-height: 400px;
  margin-left: 220px;
}

/*Footer */

#up {
  height: 300px;
  background: #272727;
  padding-top: 50px;
}

#low {
  height: 90px;
  background: #222021;
}

.col-lg-3 {
  padding-left: 30px;
}
.footerheading {
  font-family: "Noto Sans HK", sans-serif;
  color: white;
  font-size: 15px;
}

.footercontentbox {
  margin-top: 10px;
  color: #9c9c9c;
}

.icons {
  margin-top: 10px;
}

#info {
  padding-left: 50px;
}
.fab {
  color: aliceblue;
  margin-left: 5px;
  margin-right: 5px;
}

.fas {
  color: aliceblue;
}

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-instagram:hover {
  color: #e64c5c;
}

.fa-dribbble-square:hover {
  color: #ae004f;
}

.fa-twitter-square:hover {
  color: #1ab2e8;
}

.fa-envelope:hover {
  color: #df0202;
}

.fa-phone-square:hover {
  color: #228be6;
}
.contacts {
  margin-top: 10px;
}

#footer-low {
  padding-left: 200px;
  padding-top: 30px;
  color: #9c9c9c;
}

#id1 {
  color: #454545;
}

#id2 {
  color: #454545;
}

#id1:hover {
  color: red;
}

#id2:hover {
  color: brown;
}

.footercontent:hover {
  color: white;
}
